<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Horolab">
  <test name="Demo">
    <classes>
      <class name="HomeLoginPageTest">
        <methods>
          <include name="verifyLogin"/>
          <include name="teardown"/>
          <include name="setUp"/>
        </methods>
      </class> <!-- HomeLoginPageTest -->
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->
